body{
    color: black;    
    background-color: rgb(255, 207, 202);
}

h3{
    font-size: 125%;
}

ol{
    font-size: 150%;
}

#title{
    text-shadow: 2px 2px yellow;
    text-align: center;
}

img{
    height: 200px;
    width: 400px;
    border-radius: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
